:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #0f1d2b;
  --gray1: #656565;
  --gray0: #292929;
}

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#navbar {
  position: fixed;
  width: 100%;
  height: 65px;
  top: 0px;
  background-color: var(--gray1);
  box-shadow: 0 0 15px 0 var(--gray-dark);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  z-index: 999;
}
#navbar a {
  color: var(--gray0);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 10px;
  border-radius: 5px;
}
#navbar a:hover {
  background-color: var(--gray0);
  color: var(--light);
}
#navbar a:last-child {
  margin-right: 25px;
}

/* ------------------------- */
#welcome-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray1);
  padding: 0;
}

.welcome-data {
  position: absolute;
  left: 11%;
  color: var(--light);
  text-align: center;
}
.welcome-data p {
  font-size: 70px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}
/* .welcome-data p::first-letter {
  font-size: 100px;
} */
.first-char {
  font-size: 100px;
}
.welcome-data h1 {
  text-transform: uppercase;
  letter-spacing: 20px;
}
.profile-pic-bg {
  background-color: var(--gray0);
  height: 65vh;
  width: 70%;
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: right;
}
.profile-pic-bg img {
  height: 100%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
/* ------------------------- */
#projects {
  width: 100%;
  height: 100vh;
  padding: 30px 5px;
  background-color: var(--gray0);
  color: var(--light);
  text-align: center;
  overflow: hidden;
}
#projects h1 {
  letter-spacing: 10px;
  text-transform: uppercase;
}
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 30px 40px 30px 30px;
}

#projects .projects .project-tile {
  background-color: var(--light);
  box-shadow: 0 0 15px 0 var(--gray);
}
.profile-pic-bg img {
  height: 100%;
  height: auto;
}

#projects .projects .project-tile a {
  display: inline-block;
  cursor: pointer;
  color: var(--light);
  text-decoration: none;
  background-color: var(--gray-dark);
  /* background: radial-gradient(
    closest-corner circle at 50% 80%,
    var(--gray1) 70%,
    var(--gray0) 100%
  ); */
}
.project-tile a img {
  width: 100%;
  height: auto;
}
#projects .projects .project-tile a p {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  padding: 10px;
}
.code {
  color: var(--gray-dark);
  transition: 0.7s ease-in-out;
  font-size: 18px;
  font-weight: 500;
}
.project-tile a :hover .code {
  color: var(--light);
}

/* ---------------------------- */
#contact {
  width: 100%;
  height: 95vh;
  background-color: var(--gray1);
  color: var(--light);
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#contact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#contact .container h2 {
  font-size: 31px;
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: center;
}

#contact .container p {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}

#contact .container .social .contacts {
  display: flex;
  flex-wrap: wrap;
}
#contact .container .social div a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin: 0 15px 10px 15px;
  color: var(--light);
}

#contact .container .social > div a:hover {
  transform: scale(1.1);
  transition: 0.1s linear;
}

#contact .container .social div a .contact-icons {
  filter: invert(1);
  height: 30px;
  width: 30px;
  margin: 5px;
}

/* -------------------------------------- */
@media only screen and (max-width: 360px) {
  .welcome-data {
    width: 90%;
    position: absolute;
    top: 75%;
    left: 4%;
    color: var(--light);
    text-align: center;
  }
  .welcome-data p {
    width: 100%;
    font-size: 32px;
    letter-spacing: 2px;
    line-height: 1;
  }

  .first-char {
    font-size: 60px;
  }
  .welcome-data h1 {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 9px;
    line-height: 1.8;
    position: absolute;
    color: var(--gray0);
  }
  .profile-pic-bg {
    height: 55vh;
    width: 100%;
    position: absolute;
    top: 18%;
    justify-content: right;
    background: linear-gradient(0deg, var(--gray0), var(--gray1));
  }
  .profile-pic-bg img {
    height: 85%;
    position: absolute;
    bottom: 0px;
  }
  /* ------------------ */
  .projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: 30px 40px 30px 30px;
  }
  #projects .projects .project-tile a p {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    padding: 5px 10px 10px 10px;
  }
  .code {
    color: var(--gray-dark);
    transition: 0.7s ease-in-out;
    font-size: 14px;
    font-weight: 500;
  }
  .project-tile a :hover .code {
    color: var(--light);
  }
  /* ------------------- */
  #contact .container {
    height: 100vh;
  }
  #contact .container .social .contacts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
/* -------------------------------------- */
@media (min-width: 361px) and (max-width: 640px) {
  .welcome-data {
    width: 35%;
    position: absolute;
    top: 65.5%;
    left: 4%;
    color: var(--light);
    text-align: left;
  }
  .welcome-data p {
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 1.1;
  }

  .first-char {
    font-size: 70px;
  }
  .welcome-data h1 {
    line-height: 1.8;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 11px;
    position: absolute;
    left: 3px;
    color: var(--gray0);
  }
  .profile-pic-bg {
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 90px;
    justify-content: right;
  }
  .profile-pic-bg img {
    height: 85%;
    position: absolute;
    bottom: 0px;
  }
  /* ------------------ */
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 30px 40px 30px 30px;
  }
  #projects .projects .project-tile a p {
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    padding: 10px;
  }
  /* ------------------- */
  #contact .container {
    height: 100vh;
  }
  #contact .container .social .contacts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* -------------------------------------- */
@media only screen and (max-width: 800px) {
  .welcome-data {
    width: 45%;
    position: absolute;
    top: 64.5%;
    left: 10%;
    color: var(--light);
    text-align: left;
  }
  .welcome-data p {
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 1;
  }
  .first-char {
    font-size: 80px;
  }
  .welcome-data h1 {
    line-height: 1.8;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 11px;
    position: absolute;
    left: 3px;
    color: var(--gray0);
  }
  .profile-pic-bg {
    height: 65vh;
    width: 100%;
    position: absolute;
    top: 130px;
    justify-content: right;
  }
  .profile-pic-bg img {
    height: 100%;
    position: absolute;
    bottom: 0px;
  }
  /* ------------------- */
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 30px 40px 30px 30px;
  }
  #projects .projects .project-tile a p {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    padding: 10px;
  }
}
